body{ 
 background-color: rgb(9, 227, 239); 
}
 .cabeçalho {
    margin-bottom: 10px;
     .cabeçalho {
    background-color: rgb(4, 23, 230);
    color:rgb(1, 28, 28)
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding : 23px 0;
     }
     .cabeçalho-título {
        font-size: 50px;